<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <script type="module" src="./test.js"></script>
</head>
<body>
   <button onclick="clock.run()">start</button> 
   <button onclick="clock.stop()">stop</button> 
</body>
</html>